body {
    background-image: url("./img/wallpaper.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }
  
.wallpaper {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    
}  