

body {
    background-image: url("./img/wallpaper.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }
  
.wallpaper {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
    
}  

.card-title{
    text-decoration: underline;
    font-size: 1.3rem;
    
}

.card-text {
    text-shadow: 0 0 black;
}

img{
    width: 100%;
}
